*{
    width: 80%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}


.title{
    font-size: 30px; 
    border-style: double; 
    text-align: center;
    text-transform: uppercase;
    color:#FF6600;
    border-color: #FF6600;
    margin-top: 30px;
    width: 70%;
   
}

#d1{
    margin:30px auto 40px;
    font-size: 20px;
}

#d2{
    background-color: #FF6600; 
    color: white; 
    text-align: right; 
    font-size: 20px;
    
}

#d3{
    text-align: right;
    font-size: 20px;
    
}